@import 'components/mixins.scss';

.topbar {
  min-height: 64px;
  height: 64px;
  color: $text;
}

// dark theme
[data-kit-theme='dark'] {
  .topbar {
    background: $dark-gray-6;
    color: $dark-gray-1;
    border-bottom: 1px solid $dark-gray-4;
  }
}
