@import 'components/mixins.scss';

.dropdown {
  padding-right: 15px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: $blue;

    &::after {
      color: $gray-6;
    }
  }
}

.avatar {
  background-color: $gray-2 !important;
}

// dark theme
[data-kit-theme='dark'] {
  .avatar {
    background: $dark-gray-4 !important;
  }
}
