@import 'components/mixins.scss';

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.status {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 1px;
  z-index: 1;
}

.footer {
  background: $gray-1;
}


.cui__sidebar {
  width: rem(400);
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  background: $white;
  transform: translateX(430px);
  @include transition-slow();

  &__toggled {
    transform: translateX(0);
    box-shadow: $shadow;
  }

  // mobile toggle button
  &__toggleButton {
    position: fixed;
    z-index: 998;
    right: rem(40);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1) !important;
    display: block;
    height: rem(44);
    line-height: 44px;
    text-align: center;
    border-radius: 30px;
    background: $white;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    color: $primary;
    padding-left: 12px;
    padding-right: 12px;

    &:hover {
      background: $primary;
      color: white;

      i {
        color: $white;
      }
    }

    i {
      transition: all 0.3s ease-in-out;
      position: relative;
      bottom: -3px;
      color: $primary;
    }
  }

  &__close {
    float: right;
    position: relative;
    top: 4px;
  }

  &__inner {
    padding: rem(23) rem(30) 0;

    @media (max-width: $sm-max-width) {
      padding: rem(23) rem(20) 0;
    }
  }

  &__type {
    padding: rem(20) 0;
    border-top: 1px solid $border;
    margin: 0 0;

    &__title {
      margin: rem(-32) 0 rem(20);

      span {
        padding-right: rem(20);
        background: $white;
      }
    }
  }

  &__item {
    margin-bottom: rem(20);
    display: flex;
    align-items: center;
  }
}

.item {
  margin-bottom: rem(25);
}

.itemContent {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  width: 110px;
  height: 110px;

  &:hover {
    .itemControl {
      z-index: 10;
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.itemControl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  color: white;
  background-color: rgba($primary, 0.3);
  @include transition-slow;
}

.itemControlContainer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  text-align: center;
}

// dark theme
[data-kit-theme='dark'] {
  .footer {
    background: $dark-gray-4;
  }
}
