@import 'components/mixins.scss';

.head {
  background-size: cover;
  background-position: center center;
  border-radius: 18px;
}

.overlay {
  z-index: 10;
  opacity: 1;
  border-radius: 18px;
  height: 210px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($default, 0.85);
  transition: all 0.2s ease-in-out;
}

.overlay:hover{
  background-color: rgba($default, 0.7);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }
}
