@import 'components/mixins.scss';

.container{
  color: $white;
  padding: 0;
  margin: 0;

  span {
    vertical-align: middle;
  }
}

.icon {
  vertical-align: middle;
  font-size: 21px;
}

.default {
  color: $default;
}

.primary {
  color: $primary;
}

