@import 'components/mixins.scss';

.head {
  background-size: cover;
  background-position: center center;
  height: 175px;
  border-radius: 18px;
  
}

.card-body{
  transition: all 0.2s ease-in-out;
}

.card-body:hover{
  box-shadow: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }
}

.itemContent {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  width: rem(150);
  height: rem(150);

  &:hover {
    .itemControl {
      z-index: 10;
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: rem(184);
  }
}
